@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}
body#register-page{
    background-image: url("../../upload/screenshots.jpg");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

/* =============
Student Registration Styling
============= */

.registration-form
{
    background: #0ab9a4f0;
    margin: 5rem auto;
    padding: 30px 10px;
    border-radius: 50px!important;
    max-width: 800px;
}
.registration-form h4
{
    font-size: 38px;
    color: #4C0AB9;
    font-weight: bolder;
}
.registration-form p
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding: 0 25px;
}
.registration-form .register-form input,.register-form select
{
    background: #FFFFFF;
    border: 1.53407px solid #28a74524;
    border-radius: 5px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.register-form #register-btn
{
    background: #4C0AB9;
    border-radius: 10px;
    width: 50%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    color: white;
    margin: 10px 0;
}
.register-form #register-btn:hover {
    background: white;
    border-radius: 10px!important;
    width: 50%!important;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    color: #84C7AE;
    box-shadow: 0px 1px 8px 3px #17a2b814;
    margin: 10px 0;
    transition: all 0.5s ease;
}

.register-form p
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.register-form p a
{
    border-bottom: 1px solid;
}


@media screen and (max-width: 768px) {
    .register-form #register-btn
    {
        width: 100%;
    }
    input.form-controls-file
    {
        width: 300px;
    }
    .registration-form
    {
        padding: 15px 30px;
    }
}
