.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand img{
    height: 60px;
    background: white;
    padding: 2px;
}
.sidebar {
   width: 300px;
}
@media screen and (max-width: 991px){
    .sidebar {
        width: 236px;
    }
}
.section-dividor{
    width: 50%;
    border-top: 2px dashed #3b86d17d;
    margin: 15px 0;
}
.sidebar .nav .nav-item.active > .nav-link{
    background: #844fc147!important;
    position: relative;
}

/* Delete Screen */
.delete_cards {
    padding: 30px;
    border-radius: 50px;
    margin: 10px 0;
}
.delete_cards .image_container img {
    height: 160px;
    border-radius: 20px;
    margin: 10px 0;
}


/* User Profiles CSS */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}

/* Modal Dialog Backgorund */
.modal-content {
    background: #40e0d0!important;
}

/* Categoies */
.addBox {
    background-color: #36b9cc;
    padding: 25px 5px;
    border-radius: 25px 75px 25px 75px;
    border: none;
}
.save_feild button {
    width: calc(100% / 2);
    height: 46px;
    font-weight: 600;
}
.action-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.action-form form{
    margin-right: 10px;
}
.action-form form:first-child{
    margin-right: 0;
}
.manage_items{
    box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 10%) !important;
    background: white;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 20px;
}
.message_text{
    color: Green;
    text-align: center;
    padding: 15px 0;
    font-weight: 700;
    font-size: 22px;
}
.message_Text_error{
    color: red;
    text-align: center;
    padding: 15px 0;
    font-weight: 700;
    font-size: 22px;
}
thead.table_head{
    background: #2653d4a8;
    border: none;
    color: white;
}
tfoot.table_foot{
    background: #2653d4a8;
    border: none;
    color: white;
}
.wrapper .table-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0;
}
.wrapper .table-content form button{
    width: 250px;
    padding: 10px 0;
    font-size: 18px;
    line-height: 22px;
}
.addCategory {
    background-color: #36b9cc;
    padding: 25px 5px;
    border-radius: 25px 75px 25px 75px;
    border: none;
}
.form .details_books .title {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px dashed;
    border-radius: 25px 75px 25px 75px;
    padding: 10px 20px;
    margin-bottom: 25px;
}
.form .details_books .feilds{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}
.form .details_books .feilds .form-group{
    width: calc(100% / 2 - 15px);
}
.save_feild button {
    width: calc(100% / 2);
    height: 46px;
    font-weight: 600;
}
.addBox {
    background-color: #36b9cc;
    padding: 25px 15px;
    border-radius: 25px 75px 25px 75px;
    border: none;

}
.register_cards {
    background: #844fc16e;
}
.rounded-top {
    background: #844fc1!important;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Student Fee Manager */
.students_cards{
    background: #0AB9A4;
}